body{
	background-image:url("back2.jpg");
	margin:0px;
}

.header{
	opacity:0.65;
	margin: auto;
	margin-bottom:20px;
	text-align: center;
	background-color: white;
	border:none;
	width:85.9%;
}

label{
	font-size:30px;
}

#board{
	opacity:0.8;
    border-radius:4px;
	background:#101111;
	width:500px;
	height:495px;
	padding:15px;
	margin:0px auto;
	border:none;
}

#board > div{
	background-color: white;
    border-radius:4px;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:1px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
	font-size:93px;
	font-weight:bold;
	border:none;
}

#button{
	width:60%;
	font-weight:bold;
	opacity:0.5;
    border-radius:4px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: white;
    border: none;
    color: black;
    padding: 15px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

#button:hover{
	color:white;
	background-color:black;
}

.main{
	display:flex;
}

.details{
	opacity:0.8;
    border-radius:4px;
	background:#353838;
	width:400px;
	height:456px;
	padding:15px;
	padding-top: 50px;
	margin:0px auto;
	border:none;
	text-align:center;
}

.subdetail{
    border-radius:4px;
	background:black;
	width:250px;
	height:50px;
	padding:15px;
	padding-top: 20px;
	margin:15px auto;
	border:none;
	text-align:center;
	color:white;
}

.subdetail:hover{
	background:white;
	color:black;
}

